1. 김씨와 이씨는 각각 몇 명 인가요?
2. "이재영"이란 이름이 몇 번 반복되나요?
3. 중복을 제거한 이름을 출력하세요.
4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [13]:
a = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
a_list = a.split(',')
count_kim = 0
for name in a_list:
    if name.startswith('김'):
        count_kim += 1
print('김씨:',count_kim)

count_lee = 0
for name in a_list:
    if name.startswith('이'):
        count_lee += 1
print('이씨:',count_lee)

김씨: 2
이씨: 6

In [18]:
a = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
a_list = a.split(',')
a_list.count('이재영')

3

In [19]:
a = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
a_list = a.split(',')
set(a_list)

{'강상희',
 '권종표',
 '김재성',
 '김지완',
 '박민호',
 '박영서',
 '송정환',
 '이성연',
 '이유덕',
 '이재영',
 '전경헌',
 '최승혁'}

In [25]:
a = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
a_list = a.split(',')
b= set(a_list)
c= list(b)
c.sort()
print(c)

['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

n개의 정수를 가진 배열이 있다. 이 배열은 양의정수와 음의 정수를 모두 가지고 있다. 이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다.

정렬이 되고 난 후, 음의 정수는 앞쪽에 양의정수는 뒷쪽에 있어야 한다. 또한 양의정수와 음의정수의 순서에는 변함이 없어야 한다.

In [39]:
def special_sort(arr):
    neg_list = []
    pos_list = []
    for num in arr:
        if num < 0:
            neg_list.append(num)
        else:
            pos_list.append(num)
    return neg_list + pos_list
special_sort([-1, 1, 3, -2, 2])

[-1, -2, 1, 3, 2]

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됩니다.

In [44]:
3600*3 + 600*21 + 60*5*21

29700

In [46]:
sumSec=0  
for hour in range(24) :
    for minute in range(60) : 
        if '3' in str(hour) or '3' in str(minute) :
            sumSec += 60 
print(sumSec)

29700

0~9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

In [6]:
def sample_check(num):
    num_set = set(num)
    if len(num) == len(num_set) == 10:
        print('ture')
    else:
        print('false')

sample_check('5432109780')

false

두 개의 버전을 비교하는 프로그램을 작성해야 한다.

버전은 다음처럼 "." 으로 구분된 문자열이다.

버전 예) 1.0.0, 1.0.23, 1.1

두 개의 버전을 비교하는 프로그램을 작성하시오.

In [36]:
def compare_ver(ver_1, ver_2):
    list_1 = ver_1.split('.')
    list_2 = ver_2.split('.')
    
    while len(list_1) > len(list_2):
        list_2.append(0)
    while len(list_1) < len(list_2):
        list_1.append(0)
        
    for i in range(len(list_1)):
        if int(list_1[i]) > int(list_2[i]):
            return ver_1
        elif int(list_1[i]) < int(list_2[i]):
            return ver_2
    return ver_1+ '='+ ver_2

compare_ver('1.1', '1.1.2')

'1.1.2'

m~n까지 각 숫자의 개수 구하기

In [75]:
def count_num(m, n):
    a = [0]*10
    for i in range(m, n+1):
        for j in str(i):    
            a[int(j)] += 1
            
    return a

count_num(1, 999)

[189, 300, 300, 300, 300, 300, 300, 300, 300, 300]

In [ ]:
10~1000까지 각 숫자 분해하여 곱하기의 전체 합 구하기

In [84]:
def div_sum(m, n):
    result = 0
    for i in range(m, n+1):
        mul = 1
        for j in str(i):
            mul *= int(j)
        result += mul
    print(result)
    
div_sum(15, 16)

11

DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤, 문자열 내에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. (예, 454 => 454, 4546793 => 454*67-9-3) DashInsert 함수를 완성하자.

In [107]:
def dash_insert(n):
    result = ""
    for i in range(len(n)-1):
        result += n[i]
        if int(n[i])%2 == 0 and int(n[i+1])%2 == 0:
            result += '*'
        elif int(n[i])%2 == 1 and int(n[i+1])%2 == 1:
            result += '-'
    result += n[-1]
    return result

dash_insert('4546793')

'454*67-9-3'

In [ ]:
자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 예를 들면, 6과 28은 완전수이다. 
6=1+2+3 // 1,2,3은 각각 6의 약수 28=1+2+4+7+14 // 1,2,4,7,14는 각각 28의 약수

입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하라.

In [60]:
def div_sum(n):
    a = []
    for i in range(1, n) :
        if n%i == 0:
            a.append(i)
        else:
            pass
    return sum(a)


def perfect_num(m):
    for j in range(1, m+1):
        if j == div_sum(j):
            print(j)
            
perfect_num(10000)

6
28
496
8128

In [ ]:
2진법이란, 어떤 자연수를 0과 1로만 나타내는 것이다. 예를 들어 73은 64(2^6)+8(2^3)+1(2^0)이기 때문에 1001001으로 표현한다.
어떤 숫자를 입력받았을 때 그 숫자를 2진법으로 출력하는 프로그램을 작성하시오.

In [67]:
a = int(input())
b = []
while a:
    b.append(a%2)
    a = int(a/2)

b.reverse()
b = [str(i) for i in b]
print(''.join(b))

16
10000