In [ ]:
# 구구단
def gugu(n):
    a = []
    i = 1
    while i < 10:
        a.append(n*i)
        i = i + 1
    return a
        
gugu(4)

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [ ]:
# 10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9이다. 이들의 총합은 23이다.
# 1000 미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하라.
result = 0
for i in range(1,100):
    if i%3 == 0:
        result = result + i
    if i%5 == 0:
        result = result + i
    if i%15 == 0:
        result = result - i
print(result)

2318

In [ ]:
result = 0
for n in range(1, 100):
    if n % 3 == 0 or n % 5 == 0: 
        result += n
print(result)

2318

In [ ]:
def fibonacci(n):
    a, b = 1, 2
    result = []
    while a <= n:
        result.append(a)
        a, b = b, a + b
    return result
fibonacci(100)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# 소인수분해
def factorize(n):
    factors = []
    d = 2
    while d * d <= n:
        while (n % d) == 0:
            factors.append(d)
            n //= d
        d += 1
    if n > 1:
        factors.append(n)
    return factors
factorize(412)

[2, 2, 103]

In [ ]:
# 일정 범위 숫자들의 최소공배수
import math

math.lcm(*range(1, 21))

232792560

In [ ]:
# Sum square difference
def squar(n):
    a = []
    for i in range(n+1):
        a.append(i**2)
        b= sum(a)
    return b


def sums(m):
    c = []
    for j in range(m+1):
        c.append(j)
        d = sum(c)
    return d**2

sums(10) - squar(10)

2640

In [36]:
# a+b+c = 1000을 만족하는 피타고라스의 정리
def pytha(n):
    for a in range(1, n//3):
        for b in range(a+1, n//2):
            c = n - a - b
            if a**2 + b**2 == c**2:
                print(a , b , c)
pytha(30)

5 12 13

In [ ]:
# 소수의 합
def primes_sum(n):
    primes = [True] * n
    primes[0], primes[1] = False, False
    for i in range(2, int(n**0.5)+1):
        if primes[i]:
            for j in range(i*i, n, i):
                primes[j] = False
    return sum(i for i in range(n) if primes[i])

print(primes_sum(200))

4227

In [37]:
# Collatz sequence
def Collatz(n):
    while n != 1:
        if n % 2 == 0:
            n = n / 2
        else:
            n = 3 * n + 1
        print(int(n))
    return n

Collatz(13)

40
20
10
5
16
8
4
2
1

1.0

In [ ]:
# Power digit sum
def sqsum(n):
    a = 2**n
    b = a//10000
    c = (a-10000*b)//1000
    d = (a-10000*b-1000*c)//100
    e = (a-10000*b-1000*c-100*d)//10
    f = (a-10000*b-1000*c-100*d-10*e)
    return b+c+d+e+f
sqsum(15)

26

In [ ]:
def digit_sum(n):
    a = 2 ** n
    b = sum(int(digit) for digit in str(a))
    print(b)
digit_sum(1000)

1366

In [17]:
# Factorial digit sum
def factorial(n):
    if n == 1:
        return 1
    else :
        return n*factorial(n-1)

def fds(n):
    a = sum(int(i) for i in str((factorial(n))))
    print(a)

fds(100)
factorial(10)

648

3628800